.user-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: auto;
}  
  
  .login-account-btn {
    margin-top: 1.5rem;
  }
  
  .account-text {
    margin-top: 1rem;
  }