.user-login {
    margin: 10rem 0 0 16rem;
  }

.login-btn {
    float: right;
    margin: 1rem 2rem 0 0;
  }
  
  .create-account-btn {
    margin-top: 1.5rem;
  }
  
  .account-text {
    margin-top: 1rem;
  }