.modal-overlay {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nomination-name {
    left: 32%;
    top: 37%;
}

.new-nomination-btn {
    bottom: 30%;
    position: absolute;
    right: 35%;
}

.nomination-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    width: auto;
}

.clear-btn, .search-btn {
    border-color: var(--primary-main);
    color: var(--primary-main);
}

.clear-btn:hover, .search-btn:hover {
    color: var(--primary-main);
    border-color: var(--primary-main);
}

.submit-btn {
    width: 125px;
    background-color: var(--primary-main);
    border-radius: 22px !important;
}

.submit-btn:hover {
    background-color: #D53069 !important;
}
