.reset-pw-modal-overlay {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .reset-pw-modal-box {
    display: block;
    background: white;
    width: 26%;
    height: 25%;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  .reset-pw-btn {
    bottom: 37%;
    position: absolute;
    right: 37%;
  }
  
  .reset-pw-email {
    position: absolute;
    left: 42%;
    top: 48%;
  }