/* Global Application styles go here */

#root {
  background-color: ghostwhite;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "SoraBold";
  src: local("SoraBold"),
   url("../fonts/Sora/Sora-Bold.ttf") format("truetype");
  }

.profile-dropdown {
  float: right;
  margin: 1rem 2rem 0 0;
}

.purple-btn {
  border-color: #54276F;
  color: #54276F;
}

.purple-btn:hover {
  color: #D1439E;
  border-color: #D1439E;
}


